
input[type=text], select, textarea {
    color: black;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #FF7101;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color: black;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 20px;
  }
  .contactUsForm {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: black;
    opacity: 0.9;
    padding: 20px;
    width: 50%;
}
  
  .contactus {
    display: flex;
    flex-direction: column;
  }




.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    width: 100%;
    margin: 10px;
}
.icons {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.icons > img {
    width: 15%;
    background-color: white;
    border: 1px solid black;
    border-radius: 100%;
}

.icons>img:hover {
    cursor: pointer;
    background-color: #FF7101;
}

@media only screen and (min-width: 1500px) {

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    width: 100%;
    margin: 10px;
}
  .icons {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 10%;
    display: flex;
    justify-content: space-around;
}
}